# Discord API token of the bot to login
TOKEN: token  # str

# Database URI in the format of postgres://user:password@host:port/database
# Leave as null if database connection not needed
DATABASE_URI: null  # Optional[str]

# Discord user ID of the bot owner
OWNER_ID: 0  # int

# Discord channel ID of a text channel to send "console" messages to
# Leave as null to send the messages to the owner's DM
CONSOLE_CHANNEL_ID: 0  # Optional[int]

# GitHub API token with gist scope for the owner module
# Leave as null to use other methods to send long eval results
GITHUB_TOKEN: token  # Optional[str]

# Main color value for embeds and such
MAIN_COLOR: 0xFFFFFF  # int

# Command prefixes in addition to mentions
# Leave as [] to only use mentions
PREFIXES:  # List[str]
    - "botto "
    - "bot!"

# Modules to start up with
# The bot should at least start up with jishaku to be able to load more modules
STARTUP_MODULES:  # List[str]
    - jishaku
    - botto.modules.events
    - botto.modules.owner
    - botto.modules.meta
    - botto.modules.help

# For the source command
# Leave as null to disable the command
SOURCE_CODE_URL: https://github.com/MusicOnline/Botto

# For the support command
# Leave as null to disable the command
# The support server "https://discord.gg/wp7Wxzs" is for bot developers using Botto
# You should set up your own support server if you make any changes to the source code
SUPPORT_SERVER_INVITE_URL: https://discord.gg/wp7Wxzs

# For the vote command
# Leave as null to disable the command
VOTE_URL: null
