# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Checks

on:
    - push
    - pull_request

jobs:
    linting:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
            - name: Install dependencies and setup
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install pipenv
                  pipenv install --dev
            - name: Lint with flake8
              if: ${{ always() }}
              run: |
                  # stop the build if there are Python syntax errors or undefined names
                  pipenv run flake8 botto --count --select=E9,F63,F7,F82 --show-source --statistics
                  pipenv run flake8 botto --count --statistics
            - name: Lint with mypy (typing)
              if: ${{ always() }}
              run: |
                  pipenv run mypy botto
            - name: Lint with pylint
              if: ${{ always() }}
              run: |
                  pipenv run pylint botto/**/*.py
            - name: Lint with black (formatting)
              if: ${{ always() }}
              run: |
                  pipenv run black botto --check -l 100
